@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.signup-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    font-family: 'Poppins', sans-serif;
    background-image: url(./../../images/signup.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.signup-container form{
    width: 25%;
    height: auto;
    border-radius: 15px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
.signup-container .ant-input-affix-wrapper {
    width: 80%;
    height: 40px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
}

.signup-btn{
    width: 80%;
    height: 40px;
    border: none;
    background-color: rgb(68, 0, 255);
    color: white;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 25px;
  }
  .signup-error{
    color: red;
  }
  @media only screen and (max-width: 600px) {
    .signup-container form{
        width: 70%;
    }
  }