.customerDashboard{
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
}
.header-customer{
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#cbc4ce;
}
.header-customer h1{
    color: white;
}
.header-btns button{
    background-color: #46a6ff;
    border: none;
    height: 35px;
    border-radius: 10px;
    width: 150px;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-left: 50px;
}
.table-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
table{
    width: 80%;
    margin: auto;
    background-color: white;
}
.table-container th{
    width: 20%;
    color: #e48fb8;
    border: 2px solid #e5e8eb;
    height: 40px;
}
.table-container td{
    width: 20%;
    border: 2px solid #e5e8eb;
    height: 40px;
}
.table-container button{
    background-color: #46a6ff;
    border: none;
    height: 35px;
    border-radius: 10px;
    width: 150px;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .header-customer{
        display: flex;
        justify-content: none;
    }
    .header-customer h1{
        font-size: 15px;
        padding-left: 10px;
    }
    .header-btns{
        display: flex;
        justify-content: left;
        width: 80%;
    }
    .header-btns button{
        width: 110px;
        font-size: 12px;
    }
    .table-container {
        width: 100%;
        overflow-y: scroll;
        padding-left: 30px;
        padding-right: 100px;
    }
    .table-container button{
        width: 100px;
    }
    }

